@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fcfcfc;
    color: #333333;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ffebd3;
}
::-webkit-scrollbar-thumb {
  background: #ffb6a6;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9bcec1;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
